{% extends "base.html" %}

{% block title %}Blogly - {{post.title}} by {{user.full_name()}}{% endblock %}

{% block content %}
    <section>
        <div>
            <h1 class="my-3">{{post.title}}</h1>
            <p>{{post.content}}</p>
            <p><em>By {{user.full_name()}}</em></p>
            <div class="d-inline p-0">
                <form action="/posts/{{post.id}}/edit" class="d-inline">
                    <button type="submit" class="btn btn-primary px-3">Edit</button>
                </form>
                <form action="/posts/{{post.id}}/delete" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger px-3 mx-2">Delete</button>
                </form>
            </div>
            <form action="/users/{{user.id}}">
                <button type="submit" class="btn btn-secondary px-3 my-3">Back</button>
            </form>
        </div>
    </section>
{% endblock %}
