{% extends "base.html" %}

{% block title %}Blogly - User Details{% endblock %}

{% block content %}
    <section>
        <div>
            <img src="{{user.image_url}}" alt="user-selected image" style="max-height: 250px; max-width: 250px;">
        </div>
        <div>
            <h1 class="my-3">{{user.first_name}} {{user.last_name}}</h1>
            <div class="d-inline p-0">
                <form action="/users/{{user.id}}/edit" class="d-inline">
                    <button type="submit" class="btn btn-primary px-3">Edit</button>
                </form>
                <form action="/users/{{user.id}}/delete" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger px-3 mx-2">Delete</button>
                </form>
            </div>
            <h2 class="my-3">Posts</h2>
            <ul>
                {% for post in posts %}
                    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                {% endfor %}
            </ul>
            <form action="/users/{{user.id}}/posts/new">
                <button type="submit" class="btn btn-primary px-3 my-3">Add Post</button>
            </form>
            <form action="/">
                <button type="submit" class="btn btn-secondary px-3 my-3">Home</button>
            </form>
        </div>
    </section>
{% endblock %}
